/* -------------------------- */
/* Custom properties          */
/* -------------------------- */

:root {
    /* Color */
    --clr-dark: 0, 0%, 0%;
    /* Honolulu Blue */
    --clr-primary: 203, 90%, 35%;
    /* Prussian Blue */
    /* --clr-primary: 198, 100%, 14%; */
    /* Dodger Blue */
    /* --clr-primary: 204, 100%, 50%; */
    --clr-secondary: 0, 0%, 100%;
    /* Blaze Orange */
    /* --clr-accent: 24, 100%, 50%; */
    /* Black Bean */
    /* --clr-accent: 18, 100%, 14%; */
    /* Dodger Blue */
    /* --clr-accent: 204, 100%, 50%; */
    /* Honolulu Blue */
    --clr-accent: 203, 90%, 35%;
    /* Trypan Blue */
    /* --clr-accent: 243, 100%, 35%; */

    /* --clr-test-dark: hsl(0, 0%, 0%);
    --clr-test-primary: hsl(203, 90%, 35%);
    --clr-test-secondary: hsl(0, 0%, 100%);
    --clr-test-accent: hsl(203, 90%, 35%, .3); */
    


    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: serif;
    --ff-sans: "Lato", sans-serif;
}

@media (max-width: 45em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (max-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 1.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
        --fs-300: 0.8rem;
    }
}

/* -------------------------- */
/* Reset                      */
/* -------------------------- */

/* Reset Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6
p,
figure,
picture {
    margin: 0;
}

/* p {
    font-size: 1rem !important;
} */

/* Reset the body */

body {
    font-family: var(--ff-sans);
    line-height: 1.5;
    min-height: 100vh;
}

canvas {
    position: fixed;
    /* border: 1px solid rgba(85, 85, 85, 0.5); */
    z-index: -1;
}

/* reset image styles */

img,
picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* -------------------------- */
/* Utiltity classes           */
/* -------------------------- */

/* -------------------------- */
/* General                    */
/* -------------------------- */

/* layout */

.flex {
    display: flex;
    align-items: center;
    align-content: center;
}

.grid {
    display: grid;
}

/* .container {
    overflow: hidden;
} */

/* colors */

.bg-primary {background-color: hsl(var(--clr-primary));}
/* .bg-second {background-color: hsl(var(--clr-secondary));} */
.bg-second {background-color: transparent;}
.bg-accent {background-color: hsl(var(--clr-accent));}

.txt-dark {color: hsl(var(--clr-dark));}
.txt-primary {color: hsl(var(--clr-primary))}
.txt-second {color: hsl(var(--clr-secondary))}
.txt-accent {color: hsl(var(--clr-accent))}

/* typography */

.ff-serif {font-family: var(--ff-serif);}
.ff-sans {font-family: var(--ff-sans);}

.fs-900 {font-size: var(--fs-900)}
.fs-800 {font-size: var(--fs-800)}
.fs-700 {font-size: var(--fs-700)}
.fs-600 {font-size: var(--fs-600)}
.fs-500 {font-size: var(--fs-500)}
.fs-400 {font-size: var(--fs-400)}
.fs-300 {font-size: var(--fs-300)}
.fs-200 {font-size: var(--fs-200)}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.uppercase {text-transform: uppercase;}

.down-arrow {
    position: relative;
    top: -2px;
    margin-left: .4rem;
    margin-right: .4rem;
    font-weight: 800;
}

.hidden {
    display: none;
}

/* -------------------------- */
/* Specific                   */
/* -------------------------- */


.page-container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.pg-top-container {
    flex-direction: column;
    gap: 0;
    width: 100%;
}

.section-flex-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Article */

.article {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 100px 0;
    /* height: 100vh; */
}

.article-img {
    margin-top: 70px;
    width: 90%;
}

.article-text {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.article-details {
    font-family: var(--ff-sans);
    font-style: italic;
    align-self: center;
    width: 85%;
}

.article-details span {
    font-weight: bold;
}

.article-content {
    align-self: center;
    flex-direction: column;
    width: 85%;
}

.keywords {
    width: 85%;
    align-self: center;
    font-family: var(--ff-sans);
    font-size: var(--fs-200);
}

.references {
    width: 85%;
    align-self: center;
}

.references a {
    text-decoration: none;
    color: hsl(var(--clr-dark), .7);
}

/* Header */

.header {
    position: absolute;
    top: 0;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: auto;
    width: 100%;
    /* background-color: hsl(156, 100%, 45%); */
    /* background-color: #00E689; */
    /* box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.5); */
}

/* #logo {
    flex-direction: row;
    justify-self: center;
    justify-content: center;
} */

#logo-img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.navbar {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
    /* margin-right: 1.5rem; */
    width: fit-content;
    list-style-type: none;
    margin: 0 1.5rem 0 0;
    padding: 0;
}

/* .change-header > * {
    border: 1px solid black;
} */

.navlink-container {
    height: auto;
    width: 120px;
    text-align: center;
    text-decoration: none;
    /* border-radius: 15px; */
    /* background-color:azure; */
}

.navlinks {
    width: 100%;
    /* font-family: Helvetica, sans-serif; */
    /* font-size: 15px; */
    text-decoration: none;
    text-align: center;
    align-self: center;
    /* color: hsl(0, 0%, 0%); */
}

.bar1, .bar2, .bar3 {
    width: 50px;
    height: 6px;
    margin: 7px 0;
    background-color: hsl(var(--clr-secondary));
    transition: 0.6s;
}

@media (max-width: 45em) {
    .change .bar1 {
        -webkit-transform: translateY(-12px) rotate(-135deg);
        transform: translateY(12px) rotate(135deg);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: translateY(-12px) rotate(-135deg);
        transform: translateY(-12px) rotate(-135deg);
    }

    .navbar {
        display: none;
    }

    .ham-menu {
        position: absolute;
        top: 27px;
        left: 15%;
        display: inline-block;
        cursor: pointer;
        /* background-color: red; */
    }

    .header {
        justify-content: center;
    }

    .change-header nav {
        width: 70%;
    }

    .change-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
        /* background-color: red; */
    }

    .change-header .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 0;
        padding: 1rem 0.5rem;
        width: 100%;
        /* background-color:aqua; */
    }

    .change-header li {
        width: 100%;
    }
    
    .change-header .navbar .navlink-container {
        width: 100%;
        text-align: start;
        padding-top: 10px;
    }
    
    .change-header .navbar * + * {
        border-top: 1px solid hsl(var(--clr-secondary), 0.5);
    }
}

/* Introduction */

.introduction {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 100px); */
    width: 100%;
    height: 100vh;
    /* margin-top: 12vh; */
    overflow: hidden;
}

.slides-container {
    /* display: flex; */
    flex-direction: row;
    /* position: relative;
    top: 100px;
    left: 100%; */
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* animation: slide 20s ease-in infinite; */
}

/* .intro-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    background-image: url(./people-2557396.jpg);
    background-size: cover;
} */

.intro-slide {
    display: none;
    width: 100%;
    height: 100%;
}

#intro-slide-1 {
    background-image: url("./images/earth_network.jpg");
    /* background-size: 20px 20px; */
}

#intro-slide-2 {
    background-image: url("./images/team_2.jpg");
}

#intro-slide-3 {
    background-image: url("./images/light_bulbs.jpg");
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* color: hsl(180, 100%, 97%); */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
}

.prev {
    left: 0;
    /* border-radius: 0 3px 3px 0; */
}

/* @keyframes slide-to {
    0% {margin-left: 0;}
    100% {margin-left: 100%;}
} */

.prev:hover, .next:hover {
    background-color: hsl( var(--clr-primary), 0.3);
}

.intro-text {
    /* position: relative;
    top: -50vh; */
    width: 80%;
    height: auto;
    padding: 2rem;
    /* color:azure; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 4em; */
    text-align: center;
    margin: 0;
    background-color: hsl(var(--clr-dark), .4);
}

/* .slide-img {
    position: relative;
    top: 140px;
    bottom: 0px;
    height: calc(100vh - 120px);
} */

.slide-dots-container {
    position: absolute;
    bottom: 25px;
}

.dot {
    display: inline-block;
    /* position: absolute; */
    /* bottom: 25px; */
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: rgb(240, 255, 255); */
    border-radius: 50%;
    transition: background-color 0.6s ease;
}   

/* @keyframes slide {
    0% { margin-left: 0;}
    27% {margin-left: 0;}
    33% {margin-left: -200%;}
    60% {margin-left: -200%;}
    66% {margin-left: -400%;}
    92% {margin-left: -400%;}
    100% {margin-left: 0;}
}  */

/* .section-titles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.active, .dot:hover {
    background-color: hsl(0, 0%, 44%);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* focus section */

.focus-section {
    /* display: grid; */
    grid-template-rows: 15% 85%;
    gap: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    /* border: 1px solid rgb(54, 255, 54); */
    /* background-color: hsl(var(--clr-secondary)); */
    overflow: hidden;
}

.focus-section > .section-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    /* font-size: var(--fs-600); */
    /* background-color: hsl(var(--clr-secondary), 0.5);
    backdrop-filter: blur(5px); */
    /* border: 1px solid red; */
}

.focus-content {
    /* display: grid; */
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "wicked globe spatial"
    "stake globe uncert";
    gap: 0;
    justify-self: center;
    justify-content: center;
    /* align-content: center; */
    --prob-width: 20%;
    width: 95%;
    height: 95%;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    background-color: hsl(var(--clr-secondary));
    /* border: 1px solid green; */
}

.description-containers {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    justify-items:flex-end;
    /* align-items: flex-start; */
    /* border-radius: 10px; */
    --cont-width: calc(50 / 30 * 100%);
    width: var(--cont-width);
    height: 100%;
    margin: 0;
    padding: 40px 30px 40px 30px;
    border: 1px solid hsla(var(--clr-dark), 0.2); 
    background-color: hsl(var(--clr-primary), .5);
    /* backdrop-filter: blur(5px); */
    /* z-index: 1; */
}

.description-containers::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    height: 0;
    width: 0;
    background: transparent;
}

.description-containers::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    height: 0;
    width: 0;
    background: transparent;
}

#wickedness-container {
    grid-area: wicked;
    align-items: flex-start;
    padding-right: calc(20 / 30 * 100%);
    --x-org: 0px;
}


#stakeholders-container {
    grid-area: stake;
    align-items: flex-start;
    padding-right: calc(20 / 30 * 100%);
    --x-org: 0px;
}

#spatial-container {
    grid-area: spatial;
    align-items: flex-end;
    text-align: right;
    --x-org: calc(-20 / 50 * 100%);
    transform: translate(var(--x-org), 0);
    padding-left: calc(20 / 30 * 100%);
}

#uncertainty-container {
    grid-area: uncert;
    align-items: flex-end;
    text-align: right;
    --x-org: calc(-20 / 50 * 100%);
    transform: translate(var(--x-org), 0);
    padding-left: calc(20 / 30 * 100%);
}

.center-container {
    /* display: flex; */
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    grid-area: globe;
    margin: 0;
    /* border: 1px solid rgb(126, 126, 126); */
    /* height: 80%; */
    aspect-ratio: 1;
    width: 500px;
    clip-path: circle(249px);
    z-index: 1;
}

.center-container > img {
    width: 95%;
    aspect-ratio: 1;
}

.center-container-dup {
    display: none;
}

/* #wickedness-container:hover, #stakeholders-container:hover {
    -webkit-animation-name: card-hover;
    -webkit-animation-duration: 1.5s;
    animation-name: card-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    --x-off: 5px;
    --y-off: 5px;
    --x-trans: -10px;
    --y-trans: -10px;
} */
.description-containers:hover::after {
    border-bottom: 4px solid hsl( var(--clr-primary));
    border-right: 4px solid hsl( var(--clr-primary));
    animation-name: line-extend;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.description-containers:hover::before {
    border-left: 4px solid hsl( var(--clr-primary));
    border-top: 4px solid hsl( var(--clr-primary));
    animation-name: line-extend;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes line-extend {
    from {
        width: 0;
    }
    to {
        height: calc(100% + 1px);
        width: calc(100% + 1px);
    }
}

/* #spatial-container:hover, #uncertainty-container:hover {
    -webkit-animation-name: card-hover;
    -webkit-animation-duration: 1.5s;
    animation-name: card-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    --x-off: -5px;
    --y-off: 5px;
    --x-trans: 10px;
    --y-trans: -10px;
} */

@keyframes card-hover {
    from {
        
    }
    to {
        transform: translate(calc(var(--x-org) + var(--x-trans)), var(--y-trans));
        box-shadow: var(--x-off) var(--y-off) 2px hsl(var(--clr-dark), .4);
        box-shadow: 
        var(--x-off) 5px 0px 0px hsl(204, 85%, 54%), 
        calc(2 * var(--x-off)) calc(2 * var(--y-off)) 0px 0px hsl(207, 100%, 69%), 
        var(--x-off) 5px 15px 5px hsla(0, 0%, 0%, 0);
        /* background-color: hsl(var(--clr-primary));
        backdrop-filter: blur(0px);
        color: white; */
    }
}


@media (max-width: 70em) {
    .focus-section {
        display: grid;
        grid-template-rows: 150px 1fr;
        gap: 0;
        height: auto;
        width: 100%;
        padding: 0 0 50px 0;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(54, 255, 54); */
        background-color: hsl(var(--clr-secondary));
        overflow: hidden;
    }

    .focus-content {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: 
        "globe wicked wicked"
        "globe stake stake"
        "spatial spatial dupGlobe"
        "uncert uncert dupGlobe";
        gap: 1%;
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        /* background-color: red; */
    }

    /* .description-containers {
        border-radius: 10px;
    } */

    #wickedness-container {
        grid-area: wicked;
        width: 100%;
        align-items: flex-start;
        padding: 40px;
        --x-org: 0px;
    }

    #stakeholders-container {
        grid-area: stake;
        width: 100%;
        align-items: flex-start;
        padding: 40px;
        --x-org: 0px;
    }

    #spatial-container {
        grid-area: spatial;
        width: 100%;
        align-items: flex-start;
        text-align: left;
        transform: translate(0, 0);
        padding-left: 40px;
    }

    #uncertainty-container {
        grid-area: uncert;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        transform: translate(0, 0);
        padding: 40px;
    }

    .center-container {
        grid-area: globe;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        width: 200%;
        aspect-ratio: auto;
        clip-path: none;
    }

    .center-container > video {
        position: relative;
        right: 25%;
        max-width: 200%;
        width: 100%;
        height: 100%;
        aspect-ratio: auto;
        border-radius: 50%;
    }

    .center-container-dup {
        grid-area: dupGlobe;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        width: 200%;
        /* overflow: hidden; */
    }
    .center-container-dup > video {
        position: relative;
        /* left: 50%; */
        max-width: 200%;
        height: 100%;
        /* filter: hue-rotate(270deg); */
    }
}



/* approach section */


.approach-section {
    /* display: grid; */
    grid-template-rows: 15% 1fr;
    gap: 0;
    align-items: center;
    justify-content: stretch;
    height: 100vh;
    width: 100%;
    /* background-color: hsl(var(--clr-secondary)); */
    overflow: hidden;
    /* border: 1px solid green; */
}
.approach-section .section-titles {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 150px;
    text-align: center;
    /* margin-top: 100px; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: hsl(var(--clr-accent));
}

.approach-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    gap: 0;
    margin: 0;
    /* margin-right: 50px; */
    padding: 175px 0 350px 0;
    /* padding-right: 400px; */
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    border: 1px solid red;
    backdrop-filter: blur(5px);
    --cell-width: 130px;
    --cell-height: 120px;
}

.cell {
    position: relative;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

.cell > svg {
    width: var(--cell-width);
    height: var(--cell-height);
}

.cell:nth-child(4n+2) svg .hex-border * {
    stroke: hsl( var(--clr-primary));
    fill: hsl(var(--clr-secondary));
}

.cell:nth-child(4n+4) svg .hex-border * {
    stroke: hsl(24, 100%, 50%);
    fill: hsl(var(--clr-secondary));
}


.connector * {
    stroke: hsl(var(--clr-dark), .4);
}

/* cells with content */
.cell:nth-child(odd) {
    z-index: 0;
}

.cell:first-child {
    transform: translate(25%, -47%);
}

/* Lowered cells (orange) with content */
.cell:nth-child(4n) {
    transform: translate(0,94%);
}

.cell:nth-child(4n) .cell-title {
    position: absolute;
    top: 100%;
    width: 150px;
    left: calc((var(--cell-width) - 150px) / 2);            
    text-align: center;
    /* border: 1px solid red; */
}

.cell:nth-child(4n) .cell-arrow {
    position: absolute;
    top: -125%;
    width: 1px;
    height: 0;
    left: calc(var(--cell-width) / 2);
    border-left: 2px solid gray;
}

.cell:nth-child(4n) .cell-description {
    position: absolute;
    bottom: 225%;
    --cell-desc-width: 275px;
    width: var(--cell-desc-width);
    left: calc((var(--cell-width) - var(--cell-desc-width)) / 2);
    text-align: center;
    /* border: 1px solid red; */
}

/* Raised cells (blue) with content */
.cell:nth-child(4n+2) .cell-title {
    position: absolute;
    bottom: 100%;
    --cell-title-width: 150px;
    width: var(--cell-title-width);
    left: calc((var(--cell-width) - var(--cell-title-width)) / 2);
    text-align: center;
}

.cell:nth-child(4n+2) .cell-arrow {
    position: absolute;
    top: 100%;
    width: 1px;
    height: 0;
    left: calc(var(--cell-width) / 2);
    border-left: 2px solid gray;
}

.cell:nth-child(4n+2) .cell-description {
    position: absolute;
    top: 200%;
    --cell-desc-width: 275px;
    width: var(--cell-desc-width);
    left: calc((var(--cell-width) - var(--cell-desc-width)) / 2);
    text-align: center;
    /* border: 1px solid red; */
}

/* odd connectors */
.cell:nth-child(4n+3) {
    transform: translate(-50%, 47%);
    width: calc(var(--cell-width) / 2);
}

/* even connectors */
.cell:nth-child(4n+5) {
    width: calc(var(--cell-width) / 2);
    transform: translate(-50%, 47%);
}

.cell:hover .cell-arrow {
    animation: cell-anim 0.5s ease forwards;
}

.cell-description {
    opacity: 0;
    transition: all 1s ease 0.5s;
}

.cell:hover .cell-description {
    opacity: 1;
}

@keyframes cell-anim {
    from {
        height: 0;
    }
    to {
        height: 125px;
    }
}

@media (max-width: 1279px) {
    .approach-section {
        height: auto;
        padding-bottom: 200px;
    }

    .approach-container {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: none;
        padding: 100px 45% 100px 35%;
        gap: 80px;
        /* padding-right: 400px; */
        width: fit-content;
        height: fit-content;
        /* border: 1px solid red; */
        --cell-width: 100px;
        --cell-height: 100px;
    }

    .cell:first-child {
        display: none;
        /* transform: rotate(90deg) translate(-47%, 25%); */
    }

    .cell:nth-child(4n) {
        transform: translate(94%, 0);
        /* transform: translate(10%, 94%); */
        /* margin-top: 94%; */
        /* margin-left: -50%; */
    }

    .cell:nth-child(4n+3) {
        display: none;
        /* transform: translate(47%, -50%);
        width: calc(var(--cell-width) / 2); */
    }

    .cell:nth-child(4n+5) {
        display: none;
        /* width: calc(var(--cell-width) / 2);
        transform: translate(47%, -50%); */
    }

    .cell:nth-child(4n+2) .cell-title {
        position: absolute;
        left: -170%;
        --cell-title-height: 50px;
        height: var(--cell-title-height);
        top: calc((var(--cell-height) - var(--cell-title-height)) / 4);
        text-align: right;
        /* border: 1px solid red; */
    }

    .cell:nth-child(4n+2) .cell-arrow {
        position: absolute;
        left: 100%;
        --arrow-width: 75px;
        width: var(--arrow-width);
        height: 1px;
        top: calc(var(--cell-width) / 2);
        border-top: 2px solid gray;
    }

    .cell:nth-child(4n+2) .cell-description {
        position: absolute;
        left: 200%;
        --cell-desc-height: 100px;
        width: 200px;
        height: var(--cell-desc-height);
        top: calc((var(--cell-height) - var(--cell-desc-height)) / 2);
        text-align: left;
        /* border: 1px solid red; */
    }

    .cell:nth-child(4n+4) .cell-title {
        position: absolute;
        left: 120%;
        height: 50px;
        top: calc((var(--cell-height) - 50px) / 2);            
        text-align: left;
        /* border: 1px solid red; */
    }

    .cell:nth-child(4n+4) .cell-arrow {
        position: absolute;
        left: -75%;
        --arrow-width: 75px;
        width: var(--arrow-width);
        height: 1px;
        top: calc(var(--cell-width) / 2);
        border-top: 2px solid gray;
    }

    .cell:nth-child(4n+4) .cell-description {
        position: absolute;
        left: calc(0px - var(--cell-width) - 75px - 120px);
        --cell-desc-height: 150px;
        width: 200px;
        height: var(--cell-desc-height);
        top: calc((var(--cell-height) - var(--cell-desc-height)) / 4);
        text-align: right;
        /* border: 1px solid red; */
    }

    .cell:hover .cell-arrow {
        animation: none;
    }
    
    .cell-description {
        opacity: 1;
        transition: none;
    }
    
}

@media (max-width: 720px) {

    .approach-container {
        gap: 180px;
        padding: 100px 40% 200px 20%;
        background-color: hsl(var(--clr-secondary), 0.7);
    }

    .cell:nth-child(4n+2) {
        transform: translate(-25%, 0);
    }
    
    .cell:nth-child(4n) .cell-title {
        position: absolute;
        top: -30%;
        left: -100%;
        height: fit-content;
        width: 200px;
        align-content: center;
        text-align: right;
        /* border: 1px solid red; */
    }

    .cell:nth-child(4n+2) .cell-title {
        position: absolute;
        top: -30%;
        left: 0%;
        height: fit-content;
        width: 200px;
        text-align: left;
    }

    .cell:nth-child(4n+2) .cell-description {
        position: absolute;
        left: 0;
        width: 200px;
        height: fit-content;
        top: 90%;
        text-align: left;
        /* border: 1px solid red; */
    }

    .cell:nth-child(4n+4) .cell-description {
        position: absolute;
        left: -100%;
        --cell-desc-height: 150px;
        width: 200px;
        height: fit-content;
        top: 90%;
        text-align: right;
        /* border: 1px solid red; */
    }

    .cell-description::after {
        content: "";
        display: block;
        width: 200px;
        height: 10px;
        border-bottom: 1px solid hsl(var(--clr-dark), .4);
    }

    .cell-arrow {
        display: none;
    }
}

/* projects section */

.projects-section {
    /* display: grid; */
    grid-template-rows: 15vh 1fr;
    align-content: center;
    justify-content: stretch;
    text-align: center;
    height: 80vh;
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: hsl( var(--clr-primary)); */
}

.projects-section .section-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: hsl( var(--clr-primary));
    /* border: 1px solid black; */
}

.projects-cards-container {
    /* display: flex; */
    flex-direction: row;
    gap: 30px;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    /* border: 1px solid black; */
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-image: url("./images/pexels-follow-alice-667200.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 350px;
    overflow: hidden;
}

.project-cards-content {
    /* display: flex; */
    flex-direction: column;
    /* justify-self: flex-end; */
    /* align-content: flex-start; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
    background-color: hsl(var(--clr-secondary), 0.7);
    box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    transform: translate(0, 100%);
    transition: transform 0.5s ease-in;
    /* border: 1px solid red; */
}

.project-cards-content svg {
    align-self: flex-end;
    fill:hsl(var(--clr-dark), .7)
}

.project-card:hover .project-cards-content {
    transform: translate(0, 0);
}

.projects-titles {
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.projects-snippet {
    width: 85%;
    text-align: left;
    /* border: 1px solid red; */
}
.more-button {
    /* align-self: flex-end; */
    height: 2.5em;
    width: 100px;
    margin-top: 10px;
    border: none;
}

.project-card-arrow {
    margin-right: 5%;
    fill: hsl( var(--clr-primary)) !important;
}

@media (max-width: 45em) {
    .projects-section {
        height: fit-content;
    }
    .projects-cards-container {
        /* display: flex; */
        flex-direction: column;
        gap: 30px;
        justify-self: center;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        width: 95%;
        padding: 50px 0;
    }
}

@media (max-height: 700px) {
    .projects-section {
        height: fit-content;
    }
    .projects-cards-container {
        padding: 50px 0 100px 0;
    }
}

/* Blog section */

.blog-section {
    /* display: grid; */
    grid-template-rows: 15vh 1fr;
    align-content: center;
    justify-content: stretch;
    text-align: center;
    height: 80vh;
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: hsl( var(--clr-primary)); */
}

.blog-section .section-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    /* color: hsl(var(--clr-dark)); */
    background-color: hsl( var(--clr-primary));
    /* border: 1px solid black; */
}

.blog-cards-container {
    /* display: flex; */
    flex-direction: row;
    gap: 30px;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    padding: 50px 0;
    /* border: 1px solid black; */
}
.blog-cards {
    /* display: flex; */
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content: center;
    width: 300px;
    max-width: 100%;
    height: 350px;
    /* padding: 30px 0; */
    max-width: 350px;
    min-height: 250px;
    /* border-radius: 10px; */
    /* border: 1px solid #303030; */
    /* text-align: center; */
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.2); */
    background-color: hsl(var(--clr-secondary), 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid hsla(0, 0%, 100%, 0.3);
}
.blog-titles {
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.blog-snippet {
    width: 80%;
    text-align: justify;
}
.more-button {
    /* align-self: flex-end; */
    height: 2.5em;
    width: 100px;
    margin-top: 10px;
    /* margin-right: 10%; */
    /* margin-bottom: 10px; */
    /* border-radius: 50px; */
    /* font-size: 13px; */
    /* font-weight: 400; */
    /* background-color: hsl(24, 100%, 50%); */
    border: none;
    
}

@media (max-width: 45em) {
    .blog-section {
        height: auto;
    }
    .blog-cards-container {
        /* display: flex; */
        flex-direction: column;
        gap: 30px;
        justify-self: center;
        align-items: center;
        justify-content: space-between;
        height: 90%;
        width: 95%;
    }
}

/* Footer section */

.footer {
    /* display: grid; */
    grid-template-rows: 75% 5% 20%;
    gap: 0;
    /* justify-items: flex-start; */
    /* background-color: hsl(var(--clr-primary), .9); */
    background: linear-gradient(hsl(203, 90%, 35%, .9),hsl(203, 89%, 11%, .9));
    width: 100%;
    height: 50vh;
    margin: 0;
}

.footer-top {
    grid-template-columns: 40% 30% 30%;
    justify-content: space-between;
    justify-self: center;
    align-content: flex-start;
    width: 80%;
    padding-top: 50px;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.footer-top > * {
    align-self: flex-start;
}

.footer-top h3, .footer-top h2 {
    font-size: var(--fs-400);
}

.nav-2 {
    /* border: 1px solid red; */
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    justify-self: flex-end;
    /* align-items: center; */
}

.nav-list li {
    width: fit-content;
}

.navlinks {
    text-align: left;
}

.mailto {
    text-decoration: none;
    font-weight: 600;
    color: hsl(var(--clr-secondary));
}

.logo-container {
    /* display: grid; */
    flex-direction: column;
    /* grid-template-rows: 50% 50%; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* justify-content: space-evenly; */
    /* border: 1px solid black; */
}

.socials-container {
    flex-direction: row;
    justify-content: center;
    width: 50%;
    gap: 15%;
    /* border: 1px solid black; */
}

.h-divider {
    width: 80%;
    height: 0;
    justify-self: center;
    border-top: 2px solid hsl(var(--clr-secondary));
}

.footer-bottom {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-content: flex-start;
    align-self: flex-start;
    padding-right: 5%;
    height: 100%;
    width: 80%;
    /* border: 1px solid black; */
}
.footer-bottom > * {
    /* background-color: hsl(203, 90%, 19%); */
    text-align: center;
    text-decoration: none;
    height: 100%;
}

@media (max-width: 35em) {
    .footer {
        height: fit-content;
        padding: 20px 0 50px 0;
    }

    .footer-top {
        grid-template-columns: none;
        grid-template-rows: repeat(3, fit-content);
        gap: 5px;
        justify-content: space-between;
        justify-self: center;
        align-content: center;
        width: 80%;
        height: fit-content;
        padding-bottom: 50px;
        /* border: 1px solid red; */
    }

    .footer-top > * {
        /* border: 1px solid red; */
    }

    .logo-container {
        /* display: grid; */
        flex-direction: column;
        gap: 0;
        /* align-items: flex-start; */
        /* grid-template-rows: 50% 50%; */
        /* grid-template-columns: repeat(3, 1fr); */
        /* justify-content: space-evenly; */
        /* border: 1px solid black; */
    }
    
    .socials-container {
        flex-direction: row;
        justify-content: flex-start;
        width: 80%;
        gap: 15%;
        /* border: 1px solid black; */
    }

    .footer-bottom {
        /* display: flex; */
        flex-direction: column;
        justify-items: flex-start;
        justify-self: center;
        align-items: flex-start;
        align-self: center;
        padding-right: 5%;
        height: fit-content;
        width: 80%;
        /* border: 1px solid black; */
    }
    .footer-bottom > * {
        /* background-color: hsl(203, 90%, 19%); */
        text-align: left;
        text-decoration: none;
        height: 100%;
    }
}